doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(type='text/javascript',src='/javascript/jquery/jquery-2.1.4.min.js')
		script(type='text/javascript',src='/javascript/jquery/plugins/sparkline/jquery.sparkline.js')
		script(type='text/javascript',src='/javascript/socket.io/socket.io.js')
		script(type='text/javascript',src='/javascript/app.js')
	body
		block content
